*{
	margin:0;
	padding:0;
	list-style:none;
}
span{
	display: block;
}
a{
	text-decoration:none;
	color:#000;
}
.homepage{
	width:7.5rem;
	height:100%;
}
.footer{
	position:fixed;
	bottom:0;
	left:0;
	width: 7.5rem;
	height: 0.98rem;
	border-top: 0.02rem solid #E7E7E7;
	display: flex;
	justify-content: center;
}
.footer_tab a{
	width: 2.5rem;
	height: 0.98rem;
	background: white;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.footer_tab:nth-child(1) .active.footer_tab_img{
	width: 0.4rem;
	height: 0.4rem;
	background:url("../img/tab02_icon.png");
	background-size: 0.4rem 0.4rem;
}
.footer_tab:nth-child(1) .footer_tab_img{
	width: 0.4rem;
	height: 0.4rem;
	background:url("../img/tab01.png");
	background-size: 0.4rem 0.4rem;
}
.footer_tab:nth-child(2) .active.footer_tab_img{
	width: 0.4rem;
	height: 0.4rem;
	background:url("../img/tab02_icon.png");
	background-size: 0.4rem 0.4rem;
}
.footer_tab:nth-child(2) .footer_tab_img{
	width: 0.4rem;
	height: 0.4rem;
	background:url("../img/tab02.png");
	background-size: 0.4rem 0.4rem;
}
.footer_tab:nth-child(3) .active.footer_tab_img{
	width: 0.4rem;
	height: 0.4rem;
	background:url("../img/tab03_icon.png");
	background-size: 0.4rem 0.4rem;
}
.footer_tab:nth-child(3) .footer_tab_img{
	width: 0.4rem;
	height: 0.4rem;
	background:url("../img/tab03.png");
	background-size: 0.4rem 0.4rem;
}
.footer_tab p{
	margin-top:0.04rem;
	font-size:0.24rem;
}
.top{
	float:left;
	width:7.5rem;
	height:1.28rem;
}
.container{
	float:left;
	width:100%;
	height:100%;
	background:#f5f6f7;
	padding-bottom:1rem;
}
.con_content{
	width: 6.9rem;
	/*height:3.7rem;*/
	margin-left:0.3rem;
	margin-top:0.3rem;
	background:white;
	border-radius:0.2rem;
	overflow:hidden;
}
.con_content:last-child{
	margin-bottom:0.3rem;
}
.con_content_top{
	float:left;
	width:6.9rem;
	height:1rem;
	background:#FB503B;
	overflow:hidden;
}
.con_content_top_1{
	width:6.9rem;
	height:1rem;
	background:url(../img/chong.png) no-repeat;
	background-size:6.9rem 1rem;
	line-height:1rem;
	font-size:0.3rem;
	color:white;
}
.danhao{
	float:left;
	margin-left:0.2rem;
}
.time{
	float:right;
	margin-right:0.2rem;
}
.con_content_con{
	float:left;
	width:6.9rem;
	height:100%;
	margin-bottom: 0.2rem;
}
.chongzhi{
	float:left;
	width:0.8rem;
	height:0.8rem;
	margin-top:0.14rem;
	margin-left:0.2rem;
	background:url(../img/select02.png);
	background-size:0.8rem 0.8rem;
}
.bangding{
	float:left;
	width:0.8rem;
	height:0.8rem;
	margin-top:0.14rem;
	margin-left:0.2rem;
	background:url(../img/select03.png);
	background-size:0.8rem 0.8rem;
}
.shenling{
	float:left;
	width:0.8rem;
	height:0.8rem;
	margin-top:0.14rem;
	margin-left:0.2rem;
	background:url(../img/select01.png);
	background-size:0.8rem 0.8rem;
}
.chong{
	float: left;
    margin-top: 0.28rem;
    margin-left: 0.2rem;
    font-size: 0.36rem;
    color: #333333;
    font-weight: bold;
}
.num{
	float:left;
	margin-left:0.16rem;
	margin-top:0.15rem;
	font-size:0.6rem;
	font-weight:bold;
}
.pay{
	float:left;
	margin-top:-0.1rem;
	float:left;
	margin-left:0.2rem;
	font-size:0.3rem;
	color:#333333;
}
.number{
	margin-top:-0.1rem;
	float:left;
	margin-left:0.2rem;
	font-size:0.3rem;
	color:#333333;
}
.sheng{
	float:left;
	margin-top:-0.1rem;
	float:left;
	margin-left:1.56rem;
	font-size:0.3rem;
	color:#333333;
}
.qian{
	margin-top:-0.1rem;
	float:left;
	margin-left:0.2rem;
	font-size:0.3rem;
	color:#E94F3D;
	font-weight:bold;
}
.con_content_bottom{
	float:left;
	border-top:0.04rem dashed #999999;
	width:6.9rem;
	height:0.9rem;
	text-align:center;
	line-height:0.9rem;
	font-size:0.36rem;
	color:#333333;
}
.bangsuc{
	float:left;
	margin-left:0.28rem;
	margin-top: 0.28rem;
	font-size:0.36rem;
	color:#333333;
	font-weight:600;
}