*{
	margin:0;
	padding:0;
	list-style:none;
}
span{
	display: block;
}
a{
	text-decoration:none;
	color:#000;
}
.homepage{
	width:7.5rem;
	height:13.34rem;
	background:#F5F6F7;
}
.footer{
	position:fixed;
	bottom:0;
	left:0;
	width: 7.5rem;
	height: 0.98rem;
	border-top: 0.02rem solid #E7E7E7;
	display: flex;
	justify-content: center;
}
.footer_tab a{
	width: 2.5rem;
	height: 0.98rem;
	background: white;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.footer_tab:nth-child(1) .active.footer_tab_img{
	width: 0.4rem;
	height: 0.4rem;
	background:url("../img/tab01_icon.png");
	background-size: 0.4rem 0.4rem;
}
.footer_tab:nth-child(1) .footer_tab_img{
	width: 0.4rem;
	height: 0.4rem;
	background:url("../img/tab01.png");
	background-size: 0.4rem 0.4rem;
}
.footer_tab:nth-child(2) .active.footer_tab_img{
	width: 0.4rem;
	height: 0.4rem;
	background:url("../img/tab02_icon.png");
	background-size: 0.4rem 0.4rem;
}
.footer_tab:nth-child(2) .footer_tab_img{
	width: 0.4rem;
	height: 0.4rem;
	background:url("../img/tab02.png");
	background-size: 0.4rem 0.4rem;
}
.footer_tab:nth-child(3) .active.footer_tab_img{
	width: 0.4rem;
	height: 0.4rem;
	background:url("../img/tab03_icon.png");
	background-size: 0.4rem 0.4rem;
}
.footer_tab:nth-child(3) .footer_tab_img{
	width: 0.4rem;
	height: 0.4rem;
	background:url("../img/tab03.png");
	background-size: 0.4rem 0.4rem;
}
.footer_tab p{
	margin-top:0.04rem;
	font-size:0.24rem;
}
.con{
	float:left;
	width:7.5rem;
	height:4.8rem;

	background:#FB503B;
}
.con_con{
	position:relative;
	float:left;
	width:7.5rem;
	height:4.8rem;

	background:url(../img/jifen.png) no-repeat;
	background-size:7.5rem 4.8rem;
}
.jiezhi{
	margin-top:0.34rem;
	width:100%;
	height:0.4rem;
	font-size:0.36rem;
	color:white;
	text-align:center;
}
.yuliang{
	position:absolute;
	top:1.06rem;
	left: 2.44rem;
	width:2.6rem;
	height:2.6rem;
	background:url(../img/circle.png);
	background-size:2.6rem 2.6rem;
	color:white;
}
.jifen{
	width:100%;
	height:0.26rem;
	font-size:0.26rem;
	text-align:center;
	margin-top: 0.56rem;
}
.liang{
	width:100%;
	height:0.46rem;
	margin-top: 0.2rem;
	text-align:center;
	font-size:0.6rem;
}
.jilu{
	position:absolute;
	top:4.1rem;
	left:0.35rem;
	width: 6.8rem;
	height:6.8rem;
	border-radius:0.1rem;
	z-index:1;
	background:white;
}
.change{
	margin-top:0.18rem;
	color:#FB503B;
	font-size:0.36rem;
	height:0.34rem;
	text-align:center;
	font-weight:bold;
}
ul{
	width:5.82rem;
	height:3rem;
	margin-top:0.6rem;
	margin-left:0.48rem;
}
ul li{
	width:100%;
	height:0.48rem;
	font-size:0.24rem;
	color:#666;
}
ul li span{
	float:left;
	line-height:0.48rem;
}
.span3{
	margin-left:1rem;
}
.span4{
	color: #FB503B;
	float:right;
}